.priceFilter input[type="number"] {
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 5px;
  font-size: 0.9em;
}

.priceFilter input[type="submit"] {
  color: #fff;
  background-color: #1dd1a1;
  border-radius: 25px;
  padding: 5px;
  cursor: pointer;
  border: transparent;
  outline: transparent;
  box-shadow: 0 1px 1px #ccc;
  margin-left: 5px;
  margin-top: 5px;
}

.priceFilter input[type="submit"]:hover {
  background-color: #1ee1a1;
}
